*{
    font-family: 'Indie Flower', cursive;
}

#coluna{
    background-color: transparent;
}

#marrom{
    background-color: #2E1012;
}

#centro{
    background-color: #F3CC4D;
}

html{
    overflow: hidden !important;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #2E1012;
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.columns{
    height: 100%;
    width: 100%;
}

@media(max-height: 668px){
    img{
        display: none;
    }
    body{
        background-color: #F3CC4D;
        background-image: url(./img/fssfd.svg);
    }
    #centro{
        background-color: transparent;
    }
}